<div class = "card-header my-5">Formulario Prestamo</div>
<div class = "card bg-dark text-white">
<div class = "card-body">
  <form>
    <div class="form-group row">
    <label for="apellido" class ="col-form-label col-sm-2">Nombre Persona</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" [(ngModel)]="prestamo.nombrePersona" name="nombre">
    </div>
    </div>
    <div class="form-group row">
    <label for="nombre" class ="col-form-label col-sm-2">ISBN</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" [(ngModel)]="prestamo.codigoIsbn" name="libro">
    </div>
    </div>
    <div class ="form-group row">
      <div class= "col-sm-6">
        <button class="btn btn-primary" (click)='create()'>Crear</button>
      </div>
    </div>
  </form>
</div>
</div>
